* {
  box-sizing: border-box;
}

.qoHsFYAt {
  background-image: url(./route-pages/challenge_2/images/bg-main-desktop.png);
}

@media only screen and (max-width: 600px) {
  .qoHsFYAt {
    background-image: url(./route-pages/challenge_2/images/bg-main-mobile.png);
  }
}